#trailer{
  height: 20px;
  width: 20px;
  position: fixed;
  background-color: #fff;
  border-radius: 50%;
  border-width: 2px;
  z-index: 1000;

  pointer-events: none;
}


.landing-page{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  margin-left: 4rem;
  margin-right: 5rem;
}

.span-italic{
  font-family: "Playfair Display";
  font-style: italic;
}

.nav-bar{
  display: flex;
}
.nav-name{
  flex: 1;
  font-size: 48px;
  margin: 1rem;
}
.nav-links{
  display: flex;
  flex: 2;
  font-size: 14px;
  gap: 12rem;
  margin: 1.5rem;
  font-weight: 300;
}
.nav-link{
  height: fit-content;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}


.line{
  height: 10px;
  background: linear-gradient(90deg, #00D7E6, #1C0AE0, #DB0707);
  margin-bottom: 1rem;
  margin-right: 1rem;
}
.home-container{
  max-width: 650px;
  margin-left: 1rem;
  margin-bottom: 5rem;
}
.home-copy{
  font-size: 24px;
  font-weight: 200;
  color: #5E5959;
  font-family: Helvetica;
}


.links-container{
  display: flex;
  margin-left: 1rem;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 1rem;
}
.links-origin{
  color: #AFA6A6;
  font-size: 14px;
  margin-bottom: 0.2rem;
  margin-left: 1rem;
}
.links-location{
  flex: 2;
  font-size: 16px;
}
.links-prof{
  display: flex;
  flex: 1;
  gap: 2rem;
}
.links-social{ 
  flex: 1;
  margin-right: 2rem;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}
.white{
  color: #fff;
  text-decoration: none;
}


.about-container{
  display: flex;
  height: 45vh;
  margin-left: 5rem;
  margin-right: 4rem;
  align-items: center;
}
.about-content{
  display: flex;
  max-width: 40vw;
}
.about-heading{
  flex: 0.5;
  font-size: 14px;
  font-weight: 300;
}
.about-copy{
  flex: 1;
  font-size: 16px;
  font-family: Helvetica;
  line-height: 1.4;
  color: #9F9F9F;
  font-weight: 200;
}

.philo-margin{
  margin-bottom: 7rem;
}
.philosopy-copy-wrapper{
  flex: 1;
  display: flex;
  flex-direction: column;
}
.philosophy-copy{
  font-size: 16px;
  font-family: Helvetica;
  line-height: 1.4;
  color: #9F9F9F;
  font-weight: 200;
}


.work-container{
  display: flex;
  margin-left: 5rem;
  margin-right: 4rem;
  align-items: center;
}
.work-content{
  display: flex;
}
.work-heading{
  flex: 0.46;
  font-size: 14px;
  font-weight: 300;
}
.work-wrapper{
  flex: 1;
  width: 40vw;
}
.work-data{
  display: flex;
  flex-direction: column;
}


.project-container{
  display: flex;
  flex-direction: column;
}
.project-title-wrapper{
  margin-bottom: 1rem;
  display: flex;
}
.project-title{
  text-decoration: underline;
  margin-right: 0.4rem;
}
.project-arrow{
  position: relative;
  top: 1px;
  opacity: 0.5;
}
.project-copy{
  margin-bottom: 1.5rem;
  color: #B8B8B8;
  max-width: 80%;
  font-family: Helvetica;
  line-height: 1.4;
}
.project-divider{
  width: 100%;
  height: 1px;
  background-color: #545454;
  margin-bottom: 1.5rem;
}
.project-link{
  color: #fff;
}
.project-link:hover{
  color: #e0dede;
}


.footer-container{
  margin-top: 4rem;
  margin-bottom: 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-line{
  width: 100%;
  height: 1px;
  background-color: #312e2e;
}
.footer-note{
  margin: 0.8rem;
  margin-bottom: 0.8rem;
  display: flex;
  color:  #545454;
  width: 30%;
  flex-grow: 1;
  justify-content: space-between;
  font-family: Helvetica;
}


@media only screen and (max-width: 800px) {
  .app{
    gap: 4rem;
  }

  .nav-links{
    gap: 1rem;
    flex-direction: column;
  }
  .landing-page{
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .links-container{
    flex-direction: column;
    gap: 1rem;
  }
  .links-location{
    margin-bottom: 1rem;
  }
  .links-social{
    justify-content: flex-start;
  }

  .about-container{
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .about-content{
    max-width: 80vw;
    flex-direction: column;
  }
  .about-heading{
    margin-bottom: 1rem;
  }
  .work-container{
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .work-wrapper{
    width: 80vw;
  }
  .work-content{
    flex-direction: column;
  }
  .work-heading{
    margin-bottom: 1.5rem;
  }
  .philo-margin{
    margin-bottom: 3rem;
  }
}